{% extends "base.html" %}

{% block title_suffix %} - 宏发金属交易市场{% endblock %}

{% block extra_css %}
<style>
    body {
        padding-top: var(--navbar-height);
    }
</style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark hf-navbar fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('auth.index') }}">
                <span class="brand-icon"><i class="fa fa-industry"></i></span>
                宏发金属交易市场
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#publicNavbar" aria-controls="publicNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="publicNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-home"></i> 首页
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-info-circle"></i> 关于我们
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-bullhorn"></i> 公告通知
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-phone"></i> 联系方式
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">
                            <i class="fa fa-sign-out"></i> 退出
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">
                            <i class="fa fa-sign-in"></i> 登录
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">
                            <i class="fa fa-user-plus"></i> 注册
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% include "_flash_messages.html" %}
        {% block content %}{% endblock %}
    </div>

    <footer class="hf-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-brand">
                        <i class="fa fa-industry"></i> 宏发金属交易市场
                    </div>
                    <p class="footer-desc">专业的金属交易市场管理平台</p>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-heading">联系方式</h5>
                    <p class="footer-desc">
                        <a class="footer-link" href="#"><i class="fa fa-phone"></i>电话：XXX-XXXX-XXXX</a>
                        <a class="footer-link" href="#"><i class="fa fa-envelope"></i>邮箱：info@example.com</a>
                        <a class="footer-link" href="#"><i class="fa fa-map-marker"></i>地址：XX省XX市XX区</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-heading">快速链接</h5>
                    <a class="footer-link" href="#">关于我们</a>
                    <a class="footer-link" href="#">服务条款</a>
                    <a class="footer-link" href="#">隐私政策</a>
                </div>
            </div>
            <hr class="footer-divider">
            <p class="text-center footer-copyright">
                <i class="fa fa-copyright"></i> 2026 宏发金属交易市场. 保留所有权利.
            </p>
        </div>
    </footer>
{% endblock %}
